pkgbase = concord
	pkgdesc = Gestor explícito y seguro de dotfiles con integración Git
	pkgver = 2.2.0
	pkgrel = 1
	url = https://github.com/d4vtz/concord
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-uv-build
	depends = git
	depends = python
	depends = python-platformdirs
	depends = python-questionary
	depends = python-rich
	depends = python-tomli-w
	depends = python-typer
	optdepends = github-cli: crear y autenticar repositorios remotos en GitHub
	source = concord::git+https://github.com/d4vtz/concord.git#commit=17310860c3f25a625be6c554c9d8342814a6a982
	b2sums = SKIP

pkgname = concord
