pkgbase = concord
	pkgdesc = Gestor explícito y seguro de dotfiles con integración Git
	pkgver = 2.3.1
	pkgrel = 6
	url = https://github.com/d4vtz/concord
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-uv-build
	depends = git
	depends = python
	depends = python-platformdirs
	depends = python-questionary
	depends = python-rich
	depends = python-tomli-w
	depends = python-typer
	optdepends = github-cli: crear y autenticar repositorios remotos en GitHub
	source = concord::git+https://github.com/d4vtz/concord.git#commit=ba1e2361da990a7efa6a14737b28902391cde0d7
	b2sums = SKIP

pkgname = concord
